lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Rendeereer'@Moejojojojo 
jlord
/
git-it
Public
Code
Pull requests
10
Actions
Projects
Wiki
Security
Insights
This commit does not belong to any branch on this repository, and may belong to a fork outside of the repository.
.husky
@Moejojojojo
Moejojojojo committed 18 minutes ago 
1 parent 7bd0819 commit fc7d3fed5d77c173a7e7df234cc39b0e3ee416ed
Showing  with 6 additions and 2 deletions.
  8  .gitignore 
@@ -6,8 +6,12 @@ lib-cov
*.out
*.pid
*.gz

pids
*.ZachryTylerWood'@Administrator'@.it.git
*.Address: 5323 BRADFORD DRIVE DALLAS TEXAS 75235-8313
*.PHONE NUMBER: <li>+1(469)697-4300<li>
*.Name: ZACHRY TYLER WOOD
*.e-mail: <li>Zachryiixixiiwood@gmail.com<li>
*.pids
logs
results

0 comments on commit fc7d3fe
@Moejojojojo
 
 
Leave a comment
No file chosen
Attach files by dragging & dropping, selecting or pasting them.
 You’re receiving notifications because you’re subscribed to this thread.
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@Moejojojojo 
jlord
/
git-it
Public
Code
Pull requests
10
Actions
Projects
Wiki
Security
Insights
This commit does not belong to any branch on this repository, and may belong to a fork outside of the repository.
.husky
@Moejojojojo
Moejojojojo committed 22 seconds ago 
1 parent 7bd0819 commit fc7d3fed5d77c173a7e7df234cc39b0e3ee416ed
Showing  with 6 additions and 2 deletions.
  8  .gitignore 
@@ -6,8 +6,12 @@ lib-cov
*.out
*.pid
*.gz

pids
*.ZachryTylerWood'@Administrator'@.it.git
*.Address: 5323 BRADFORD DRIVE DALLAS TEXAS 75235-8313
*.PHONE NUMBER: <li>+1(469)697-4300<li>
*.Name: ZACHRY TYLER WOOD
*.e-mail: <li>Zachryiixixiiwood@gmail.com<li>
*.pids
logs
results

0 comments on commit fc7d3fe
@Moejojojojo
 
 
Leave a comment
th_100X_flattend.pdf.exports 
file chosen
Attach files by dragging & dropping, selecting or pasting them.
 You’re receiving notifications because you’re subscribed to this thread.
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About SC 13G/A 1 d125948dsc13ga.htm SC 13G/A
 

 

SECURITIES AND EXCHANGE COMMISSION

Washington, DC 20549

 

 

SCHEDULE 13G

Under the Securities Exchange Act of 1934

(Amendment No. 17)*

 

 

Alphabet Inc./Zachry Tyler Wood

(Name of Issuer)

Class A Common Stock 65000000
Class B Common Stock 12000000000
Class C Common Stock 9000000000 

(Title of Class of Securities)

Class A Common Stock:

Class B Common Stock: 

(CUSIP Number)

December 31, 2021

(Date of Event Which Requires Filing of this Statement)

 

 

Check the appropriate box to designate the rule pursuant to which this Schedule is filed:

☐ Rule 13d-1(b)

☐ Rule 13d-1(c)

☒ Rule 13d-1(d)

 

*	
The remainder of this cover page shall be filled out for a reporting person’s initial filing on this form with respect to the subject class of securities, and for any subsequent amendment containing information which would alter disclosures provided in a prior cover page.

The information required on the remainder of this cover page shall not be deemed to be “filed” for the purpose of Section 18 of the Securities Exchange Act of 1934 (“Act”) or otherwise subject to the liabilities of that section of the Act but shall be subject to all other provisions of the Act (however, see the Notes).

 

 

 

 

Page 1 of 10

SCHEDULE 13G

 

  1.  	 	
  NAMES OF REPORTING PERSONS

  I.R.S. IDENTIFICATION NO. OF ABOVE PERSONS (ENTITIES ONLY)

 

 WOOD  ZACHRY TYLER

  2.	 	
  CHECK THE APPROPRIATE BOX IF A MEMBER OF A GROUP (see instructions)

  (a)  ☐        (b)  ☐

 

  3.	 	
  SEC USE ONLY

 

  4.	 	
  CITIZENSHIP OR PLACE OF ORGANIZATION

 

  United States

NUMBER OF

SHARES

 BENEFICIALLY 

OWNED BY

EACH

REPORTING

PERSON

WITH

  	5.  	  	
  SOLE VOTING POWER

 

 */**backtrace*logs:'::All:"::AUTOMATE:'::Automatically::''
results

npm-debug.log
node_modules
