<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="patchwork, git, github, open source">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Patchwork: Git, GitHub and the Pursuit of Open Source</title>
    <link rel="shortcut icon" href="https://raw2.github.com/jlord/git-it/master/favicon.png"/>
    <link href='style.css' rel='stylesheet'>
  </head>
  <body>
   <div class="container">
    <div id="welcome-name">
      <h1>Congrats, you did it!</h1>
      <div id="user-name" class="swing animated" style="display: block;">
        <pre><code>{{#featured}}{{username}}{{/featured}}</code></pre>
      </div>
      <h3>You now know alternate meanings for <strong>fork</strong> and <strong>branch</strong>. You've <strong>collaborated</strong> someone whose location you're unaware of. You, friend, <strong>pull request</strong> with the best of 'em.</h3>
    
      <h3><strong>Your pulling and pushing compatriots (give or take 4 million):</strong></h3>
    </div>
    <div id="compatriots">
      <ul class="compatriots-list">
        {{#everyone}}
        <li><span class="userdetail"><a href="#">@{{username}}</a></span> <span class="userdate">{{time}}</span></li>
        {{/everyone}}
      </ul>
    </div>
    <div id="about">
      <h3><strong>About</strong></h3>
      <p>Everyone listed on this page has completed <strong><a href="http://www.github.com/jlord/git-it" target="_blank">Git-it</a></strong>, an open source terminal app for learning Git and GitHub.</p> <p>The <strong><a href="http://www.github.com/jlord/git-it" target="_blank">Git-it</a></strong> challenges are self directed so one can do it on their own, but it also makes for a great <strong><a href="http://nodeschool.io/" target="_blank">nodeschool.io</a></strong> type of workshop. Find out more about hosting and attending workshops <strong><a href="">here</a><strong>.</p> 
    </div>
   </div>
  </body>
</html>
