<div class="prenext">
  <div class="pre lef meta">
    <a href="{{preurl}}">{{prename}}</a>
    <div>⤶ </div>
  </div>
  <div class="next tar right meta">
    <a href="{{nexturl}}">{{nextname}}</a> 
    <div>⤷</div>
  </div>
</div>
<footer>
  <ul>
    <li class="meta"><a href="../index.html"><strong>Git-it Challenges</strong></a></li>
    <li class="meta"><a href="../about.html">About</a></li>
    <li class="meta"><a href="../dictionary.html">Dictionary</a></li>
    <li class="meta"><a href="../resources.html">Resources</a></li>
    <li class="meta">
      <a href="http://www.github.com/jlord/git-it/issues/new" target="_blank">Open an Issue</a>
    </li>
  </ul>
</footer>