body {
  font-family: 'Source Sans Pro';
  line-height: 1.8em;
  color: #333935;
  background-color: #f5f5f5;
  font-size: 15px;
  margin: 0;
}

.right {
  float: right;
}

.left {
  float: left;
}

.tar {
  text-align: right;
}

li {
  padding-bottom: 4px;
}

.nav {
  text-align: center;
}

.wrapper {
  width: 600px;
  margin: 30px auto;
}

.site-header {
  font-size: 20px;
  margin-bottom: 40px;
  background: #fafafa;
  padding: 0 0 30px 0;
  overflow: auto;
  /*text-align: center;*/
}

.hand {
  font-size: 40px;
  padding: 9px 12px;
 /* color: #ff00ff;*/
}

.challenge-band h2, .number-band h2 {
  text-transform: capitalize;
  font-weight: 900;
  color: #0087ff;
}

.site-header .gitit {
  border-bottom-width: 3px;
}

.filledblock {
  margin: 0 auto;
  text-align: center;
  background-color: #f5f5f5;
  display: inline-block;
  padding: 4px 10px;
  color: #333935;
  font-family: Source Sans Pro;
  font-weight: 900;
  -webkit-transition: background 2s;
  -webkit-transition: color 2s;
}

.filledblock:hover {
    background: #4BABFF;
    -webkit-transition: background 2s;
    -webkit-transition: color 2s;
}

.filledblock a:hover {
  color: #fff;
  text-shadow: rgb(255, 255, 255) 0px 0px 5px;
}

.site-header .meta, footer .meta, .prenext .meta {
  font-size: 12px;
  text-transform: uppercase;
  font-family: Source Sans Pro;
}

.site-header h2 {
  margin-top: 12px;
}

h1, h2, h3, h4, .gitit, .toc {
  font-family: "Source Sans Pro";
}

h1, h2, h3, h4 {
  /*text-align: center;*/
  margin-top: 50px;
}

a {
  color: #0087ff;
  text-decoration: none;
}

a:hover {
  color: #4BABFF;
}

.toc li {
  margin-bottom: 10px;
}

.toc li a {
  font-weight: 700;
}

.toc {
  padding-left: 0;
  text-align: left;
  list-style-position: inside;
}

.toc .done:before {
  content: 'done!';
  float: right;
  color: #aaa;
  text-decoration: none !important;
}

.toc .done a {
  text-decoration: line-through;
}

code, .outof {
  border: 1px solid #9DA6B3;
  padding: 4px 6px;
  border-radius: 2px;
  font-family: Liberation Mono, Monaco, Courier New, monospace;
  white-space: nowrap;
}

pre {
  background-color: #fafafa;
}


footer {
  border-top: 3px solid #0087ff;
  margin: 20px 0;
  padding: 12px 0;
}

footer ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

footer ul li {
  display: inline-block;
  padding-right: 12px;
}

.pre, .next {
  text-transform: capitalize;
  display: inline-block;
  color: #0087ff;
}

.prenext {
  overflow: auto;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
/*  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;*/
}

.challenge-desc {
  color: #777;
  font-style: italic;
}

#git-tips, .didnt-pass {
  background: #BADFFF;
  padding: 18px;
  margin: 18px 0;
  color: #0087ff;
}

#git-tips ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#git-tips code, .didnt-pass code {
  border-color: #0087ff;
}

#git-tips h4, .didnt-pass h4 {
  margin-top: 0;
}

#git-tips li {
  margin-top: 12px;
}

.challenge, .verify {
  background-color: #0087ff;
  color: #fff;
  padding: 18px 18px 5px;
}

.verify code {
  border-color: #fff;
  display: inline-block;
}

.verify {
  margin-top: 30px;
  margin-bottom: 30px;
}

.challenge h2, .verify h3, #git-tips h2, .didnt-pass h2 {
  margin-top: 0;
}

.didnt-pass {
  background: #E3EEF8;
}

.didnt-pass p + h4 {
  padding-top: 30px;
}

.verify h3 {
  display: inline-block;
  padding-right: 12px;
}

blockquote {
  border-left: 2px solid #acacac;
  padding-left: 30px;
  margin: 30px 0;
  color: #acacac;
}

.weehero {
  background-color: #0087ff;
  padding: 30px;
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-weight: 900;
}

img {
  margin: 30px 0 18px;
}

n, v, adj {
  position: relative;
}

.superscript {
  font-size: 0.6em;
  position: absolute;
  top: -18%;
  line-height: 0.6em;
  font-weight: normal;
  white-space: nowrap;
  opacity: 0.8;
}
